* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size:10px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear-fix {
    clear: both;
    display: table;
    content: "";
}

.text-center {
    text-align: center;
}

header {
    background-color: #2A93C9;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.burger { 
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 25px;
}

.burger span, .burger span:before, .burger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.burger span:before {
  top: -10px; 
}
.burger span:after {
  bottom: -10px;
}

.burger span, .burger span:before, .burger span:after {
  transition: all 500ms ease-in-out;
}
.burger.active span {
  background-color: transparent;
}
.burger.active span:before, .burger.active span:after {
  top: 0;
}
.burger.active span:before {
  transform: rotate(45deg);
}
.burger.active span:after {
  transform: rotate(-45deg);
}

.dots span {
    position: absolute;
    right: 35px;
    top: 25px;
}

.dots span, .dots span:before, .dots span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

.dots span:before {
    top: -10px; 
  }
.dots span:after {
    bottom: -10px;
}

.dots span, .dots span:before, .dots span:after {
    transition: all 500ms ease-in-out;
}

.dots.active span {
    height: 0px;
    right: 50px;
} 

.dots.active span:before, .dots.active span:after {
    top: 0;
}

.dots.active span:before {
    width: 35px;
    border-radius: 0px;
    transform: rotate(45deg);
  }
.dots.active span:after {
    width: 35px;
    border-radius: 0px;
    transform: rotate(-45deg);
}

#logo {
    padding-top: 10px;
    width: 120px;
    height: auto;
    display: none;
}

/* #mobile-nav {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100px;
    height: 100%;
    background: rebeccapurple;
} */

/* #desktop-nav {
    position: absolute;
    bottom: -100%;
    left: 0;
    max-width: 100px;
    width: 70%;
    height: 100%;
    left: 15%;
    background: rebeccapurple;
} */

.content {
    height: 1000px;
    background-color: #F1F3F9;
}

.hero {
    padding-top: 3.5rem;
    background-image: linear-gradient(180deg, rgba(61,121,155, 1), rgba(61,121,155, 0)), url("./media/background-04-1920x980.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

.hero--heading {
    margin-top: 15rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
}

.hero--link {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    background-color: #fff;
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #272727;
    margin-bottom: 15rem;
    margin-top: 3rem;
}

.hero--link:hover {
    background-color: #2A93C9;
    color: #fff;
}

/********************************************
* INFO SECTION
********************************************/

.info {
    background-color: #F1F3F9;
    padding: 1rem 0;
}

.info-card {
    width: 90%;
    background-color: #2684B5;
    color: #fff;
    text-align: center;
    margin: 2rem auto 6rem auto;
    border-radius: 0.5rem;
}

.info-card--heading-wrapper {
    padding: 2rem 0 1rem 0;
    margin: 0 2rem;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.info-card--heading-image {
    width: 30px;
    height: auto;
    display: inline-block;
}

.info-card--heading {
    display: inline-block;
    vertical-align: top;
    font-size: 1.8rem;
    padding-top: 5px;
}

.info-card--content-wrapper {
    padding: 1rem 2rem;
}

.info-card--opening-hours{
    padding: 1rem 0;
}

.info-card--opening-hours--days,
.info-card--opening-hours--time {
    font-size: 1.7rem;
    padding: 1rem 0;
    font-weight: 400;
}

.info-card--general-info {
    font-size: 1.7rem;
    padding: 2rem;
    font-weight: 400;
    color: #9CC5DA;
}

.info-card--content-heading {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    margin: 3rem auto 2rem auto;
    display: block;
}

.info-card--link {
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 500;
    padding: 1.5rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.info-card--link:hover {
    background: #333;
    color: #fff;
}

/********************************************
* SKILLS SECTION
********************************************/

.skills {
    background-color: #F1F3F9;
    text-align: center;
    padding: 4rem 0;
}

.skills--heading {
    font-size: 2.6rem;
    font-weight: 500;
}

.skills-card {
    width: 100%;
    margin: 4rem auto;
    padding: 0 2rem;
}

.skills-card--image {
    display: block;
    width: 125px;
    height: 125px;
    margin: 2rem auto;
}

.skills-card--heading {
    font-size: 2rem;
    font-weight: 500;
}

.skills-card--info {
    font-size: 1.6rem;
    font-weight: 500;
    color: #909090;
    margin: 1rem auto;
}

/********************************************
* Free Consultation SECTION
********************************************/

.free-consultation {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 8rem 2rem;
}

.free-consultation--heading {
    font-size: 3.3rem;
    font-weight: 500;
}

.free-consultation--info {
    font-size: 2rem;
    font-weight: 500;
}

.free-consultation--link {
    text-decoration: none;
    color: #272727;
    background-color: #fff;
    padding: 1rem 2.4rem;
    display: inline-block;
    border-radius: 2rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.5s;
}

.free-consultation--link:hover {
    background-color: #2A93C9;
    color: #fff;
}

/********************************************
* Diagnostic |Free Consultation| SECTION
********************************************/

#diagnostic {
    background-image: url("./media/background-03-1920x939.jpg");
}

/********************************************
* Our Services SECTION
********************************************/
.our-services {
    background-color: #fff;
    padding: 8rem 2rem;
}

.our-services--card-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.our-services--heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 500;
}

.our-services--info {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
    color: #9C9C9C;
}

.our-services--card {
    margin: 2rem auto;
}

.our-services--card--image {
    display: block;
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
}

.our-services--card--link {
    display: block;
    max-width: 320px;
    background-color: #2A93C9;
    padding: 2rem 1.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.our-services--card--link:hover {
    background-color: #000;
}

/********************************************
* Team SECTION
********************************************/

.team {
    text-align: center;
}

.team--team-member {
    margin-bottom: 4rem;
}

.team--team-member--image {
    display: block;
    width: 100%;
    height: auto;
}

.team--team-member--name {
    padding: 4rem 0;
    background-color: #2A93C9;
    color: #fff;
    font-size: 2.3rem;
}

.team--team-member--profile {
    padding: 3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.team--team-member--profile:hover {
    color: #fff;
    background: #000;
}

/********************************************
* Testimonials SECTION
********************************************/

.testimonials {
    background-color: #F1F3F9;
    padding: 6rem 2rem;
}

.testimonial-card {
    max-width: 450px;
    margin: 6rem auto;
}

.testinanials--heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.testimonial-card--quote {
    display: inline-block;
    width: 24px;
    vertical-align: top;
    margin-right: 2%;
}

.testimonial-card--content {
    display: inline-block;
    width: 89%;
    
}

.testimonial-card--content--text {
    color: #898989;
    font-size: 2.3rem;
    font-style: italic;
    font-weight:400;
    padding-bottom: 2rem;
}

.testimonial-card--user--image {
    float: left;
    border-radius: 50%;
    margin-right: 1rem;
}

.testimonial-card--user--name {
    color: #2A93C9;
    font-size: 2.3rem;
    font-weight: 500;
    padding-top: 0.4rem;
}

.testimonial-card--user--type {
    color: #BDBDBD;
    font-size: 1.6rem;
    padding-top: 0.4rem;
    font-style: italic;
}

/********************************************
* Pediatric |Free Consultation| SECTION
********************************************/

#pediatric {
    background-image: url("./media/background-04-1920x980.jpg");
}

/********************************************
* Blog Posts SECTION
********************************************/

.blog-posts {
    padding: 6rem 2rem;
    text-align: center;
}




.blog-posts--heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 6rem;
}

.blog-post--image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.blog-post--heading,
.blog-post--date,
.blog-post--category,
.blog-post--exerpt,
.blog-post p {
    text-align: left;
}

.blog-post--heading {
    display: block;
    text-decoration: none;
    font-size: 2.3rem;
    color: #272727;
    font-weight: 500;
    padding-top: 2rem;
    transition: all 0.3s linear;
}

.blog-post--heading:hover {
    color: #51A7D3;
}

.blog-post--date {
    color: #9C9C9C;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 0;
}

.blog-post--category {
    color: #51A7D3;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 0;
    transition: all 0.3s linear;
}

.blog-post--category:hover {
    color: #555;
}

.blog-post--exerpt {
    color: #434445;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.blog-post--link {
    display: inline-block;
    text-decoration: none;
    background-color: #2A93C9;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s linear;
}

.blog-post--link:hover {
    background-color: #000;
}

/********************************************
* Map SECTION
********************************************/

#map {
    width: 100%;
    height: 250px;
}

/********************************************
* Footer SECTION
********************************************/

footer {
    background-color: #2A93C9;
    color: #fff;
    padding: 2rem 2rem 4rem 2rem;

}

.footer--wrapper {
    display: flex;
    flex-direction: column;
}

.footer--heading {
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    margin-bottom: 1rem;
}

.horizontal-line {
    height: 2px;
    background-color: #fff;
}

.footer--newsletter {
    padding: 4rem 0 8rem 0;
}

.footer--newsletter-info {
    color: #B6CBDA;
    font-size: 1.5rem;
    margin: 2rem 0 1.4rem 0;
}

.email-wrapper {
    position: relative;
}

#email-input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 73%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#email-submit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #000;
    padding: 1.3rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

#email-submit:hover {
    cursor: pointer;
}

.footer--contact-item {
    padding: 1rem 0 1rem 2.6rem;
    position: relative;
}

.footer--contact-item--image {
    position: absolute;
    top: 0.9rem;
    left: 0;
    width: 2.4rem;
    height: auto;
}

.footer--contact-item--link,
.footer--contact-item span {
    color: #B6CBDA;
    font-size: 1.5rem;
}

.footer--contact-item--link {
    text-decoration: none;
}

.footer--contact-item--link:hover {
    text-decoration: underline;
    color: rgb(172, 190, 202);
}

.footer--social {
    padding: 2rem 0 4rem 0;
}

.footer--social--logo {
    display: block;
    max-width: 160px;
    width: 100%;
    margin: 2rem auto;
}

.footer--social--icon-list {
    list-style-type: none;
}

.icon-list-item {
    display: inline-block;
}

.icon-list-item--wrapper {
    width: 50px;
    height: 40px;
}

.icon-list-item--overlay {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: block;
}

#facebook-icon:hover {
    background-color: #3B5999;
}

#twitter-icon:hover {
    background-color: #1D9CEB;
}

#google-plus-icon:hover {
    background-color: #D6493C;
}

#instagram-icon:hover {
    background-color: #7836AA;
}

.icon-list-item--logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.copyright-info,
.privacy-policy {
    font-size: 1.5rem;
    color: #B6CBDA;
}

.privacy-policy {
    text-decoration: none;
}

.privacy-policy:hover {
    text-decoration: underline;
}

@media screen and (min-width: 480px) {

    #logo {
        display: block;
        margin: 0 auto;
    }

    .info-card {
        width: 450px;
    }

    .info-card--opening-hours--days {
        float: left;
    }

    .info-card--opening-hours--time {
        float: right;
    }

    .info-card--opening-hours:after {
        display: table;
        clear: both;
        content: "";
    }

    .info-card--content-wrapper:after {
        display: table;
        clear: both;
        content: "";
    }

    .skills-card {
        width: 450px;
    }

    .fixed-container {
        width: 450px;
        display: table;
        margin: 0 auto;
    }

    .team--team-member {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer--wrapper,
    .copyright-info,
    .testimonial-card {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 768px) {

    .hero--heading {
        font-size: 4rem;
    }

    .hero--link {
        margin-top: 4rem;
    }

    .info-card--heading-wrapper {
        text-align: left;
    }

    .our-services .fixed-container {
        width: 100%;
        text-align: center;
    }

    .skills--heading {
        font-size: 3.5rem;
    }

    .our-services--card {
        display: inline-block;
        padding: 15px;
    }

    .free-consultation--heading {
        font-size: 4rem;
    }


    .our-services--card--link {
        font-size: 1.3rem;
        padding: 1.2rem;
        text-align: left;
    }

    .our-services--info {
        max-width: 550px;
        margin: 0 auto 6rem auto;
    }

    .our-services--heading {
        font-size: 4rem;
    }

    .blog-post {
        width: 470px;
        margin: 0 auto;
    }

    .testimonial-card {
        margin: 10rem auto;
        width: 750px;
        min-width: 750px;
    }

    #map {
        height: 450px;
    }

    .fixed-container {
        width: 750px;
    }
}

@media screen and (min-width: 990px) {

    .fixed-container {
        width: 970px;
    }

    .hero {
        text-align: left;
    }

    .info-card {
        display: inline-block;
        height: 280px;
        vertical-align: top;
        position: relative;
        transition: all 0.2s linear;
        border: none;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .info-card:hover {
        transform: translateY(-52px);
    }

    .info-card:nth-child(odd) {
        margin-right: -2px;
        background-color: #2684B5;
    }

    .info-card:nth-child(even) {
        background-color: #2A93C9;
    }

    .info-card:hover > .info-card--link {
        transform: scaleY(1);
    }

    .info-card--link:hover ~ .info-card {
        transform: translateY(-52px);
    }

    .info-card--link:hover {
        transform: scaleY(1);
    }

    .info-card--link {
        position: absolute;
        bottom: -52px;
        left: 0%;
        width: 100%;
        transform: scaleY(0);
        transition: all 0.2s linear;
        border-radius: 0;
    }

    .skills-card {
        display: inline-block;
        width: 33%;
    }

}



